{% import "components/navbar_component.html" as nav %} 
{% import "components/config.html" as config %} 
{% import "components/footer.html" as footer %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{ config.config("Brands") }}
  </head>
  <body>
    {{ nav.navbar(current_user) }}

    <main>
      {% for brand in brands%}
      <div class="brand">
        <img src="{{ brand.img }}" alt="{{ brand.name|lower }}_logo" />
        <a href="/{{ brand.name|lower }}/products"><button>Shop Now</button></a>
      </div>
      {% endfor %}
    </main>

    {{ footer.footer() }}
  </body>
</html>
