{% import "components/config.html" as config %}

<!DOCTYPE html>
<html lang="en">
<head>
    {{ config.config("Sign In", "Login") }}
</head>
<body>
    <div class="content">
        <a href="/">
            <p class="logo">Tee Vista</p>
        </a>

        <div class="container">
            <p class="title">Sign In</p>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <section>
                    <label for="username">Username</label>
                    {{ form.username }}
                </section>
                <section>
                    <label for="password">Password</label>
                    {{ form.password }}
                    <p>Don't have an account?<a href="/register">  Sign Up</a></p>
                </section>
                {{ form.submit }}
            </form>
        </div>
    </div>

    <img src="/static/assets/login_screen_bg.png" alt="login_bg">
</body>
</html>