{% import "components/navbar_component.html" as nav %} 
{% import "components/config.html" as config %} 
{% import "components/footer.html" as footer %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {{ config.config("Payment") }}
  </head>
  <body>
    {{ nav.navbar(current_user) }}
    <main>
        <form method="post">
            <div class="col">
                {{ props.form.hidden_tag() }}
                <section>
                    <label for="card_number">Card Number</label>
                    {{ props.form.card_number }}
                </section>
                <section>
                    <label for="cvv">CVV</label>
                    {{ props.form.cvv }}
                </section>
                <section>
                    <label for="expiry">Expiry Date</label>
                    {{ props.form.expiry_date }}
                </section>
            </div>
            
            <div class="col">
                <section>
                    <label for="address">Address</label>
                    {{ props.form.address }}
                </section>

                <div class="summary">
                    <p class="title">Order Summary: </p>
                    <p><strong>Subtotal : </strong> $ {{ props.item_total|int }}</p>
                    <p><strong>GST : </strong> $ {{ (props.item_total|int * 0.05) | int }}</p>
                    <p><strong>Shipping : </strong> $ 12</p>
                    <div class="smbreak"></div>
                    <p><strong>Grand Total : </strong> $ {{ props.item_total|int * 1.05 | int + 12}}</p>
                    <div class="smbreak"></div>
                </div>

                {{ props.form.submit }}
            </div>
        </form>
    </main>
    {{ footer.footer() }}
  </body>
</html>
