{% macro footer() %}
<footer>
  <div class="wrapper">
    <div class="items">
        <div class="footer_item">
          <p class="title">Contact Us</p>
          <p>Phone: (408) 274-8166</p>
          <p>Mobile: +1 1234 567890</p>
          <p>Email: support@teevista.com</p>
        </div>
        <div class="footer_item">
          <p class="title">Visit Us</p>
          <ol type="1">
            <li>484 Mulberry St, Macon, Georgia - 31201</li>
            <li>3276 S White Rd, San Jose, California - 95148</li>
            <li>18453 Parthenia Pl, Northridge, California - 91325</li>
          </ol>
        </div>
        <div class="footer_item">
          <p class="title">Quick Links</p>
          <ul style="list-style: none">
            <li><a href="/">Home</a></li>
            <li><a href="/brands">Brands</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
    </div>
    
    <div class="footer_gap"></div>
    <p class="cc">© 2023 Tee Vista - All rights reserved</p>
  </div>

</footer>
{% endmacro %}
